@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    line-height: 1.875em;
    font-size: 15px;
    font-style: normal;
    text-align: center;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.main_header {
    padding: 1px;
}

.logo {
    width: 100%;
    max-width: 900px;
    height: 160px;
    margin: 0 auto;
    /* border-bottom: #444 1px solid; */
    position: relative;
}

.logo_text {
    display: inline-block;
    padding: 2px 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 8px;
    background-color: #fff;
    line-height: 12px;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.logo_letter {
    font-family: "Cinzel Decorative", serif;
    font-size: 8em;
}

.logo_letterV {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%, 0%);
    z-index: -1;
}

.logo_letterP {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, 60%);
    z-index: -1;
}

.nav {
    display: flex;
    justify-content: center;
    position: sticky;
}

.main_nav {
    margin: 15px 0 30px;
}

.main_nav a {
    font:
        14px/1.8em "Raleway",
        sans-serif;
    padding: 0 10px;
}

.section {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    line-height: 1.25em;
    text-align: center;
    font-size: 72px;
    margin-bottom: 40px;
}

h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 1.35em;
}

h3 {
    margin-bottom: 30px;
    font-size: 20px;
    font-style: italic;
}

main {
    padding: 1px;
    background: #fff
        url("https://static.wixstatic.com/media/30b0036c272a468b8a644a2975675863.jpg/v1/fill/w_980,h_920,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/30b0036c272a468b8a644a2975675863.jpg")
        no-repeat fixed;
    background-size: 100%;
}

.home {
    max-width: 1200px;
    margin: 80px auto;
    padding: 140px 10%;
    background-color: #fff;
}

.action_btn {
    position: relative;
    display: inline-block;
    margin: 40px 0 0;
    padding: 10px 30px;
    /* border: 2px solid #555; */
    /* background-color: #fff; */
    font-family: "Raleway", sans-serif;

    &:after,
    &:before {
        content: "";
        display: block;
        width: 50%;
        height: 50%;
        position: absolute;
    }

    &:before {
        left: 0;
        top: 0;
        border-left: 1px solid #aaa;
        border-top: 1px solid #aaa;
    }

    &:after {
        right: 0;
        bottom: 0;
        border-right: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
    }
}

.about_section {
    display: flex;
    column-gap: 60px;
    width: 100%;
    max-width: 980px;
    margin: 100px auto;
}

.about_section img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.about_section figcaption {
    width: 100%;
    text-align: start;
}

.section_services {
    padding: 1px 0 100px;
    background: #000;
    color: #fff;
}

.section_services figure {
    margin: 0 auto;
    padding: 60px 0;
}

.section_services figcaption {
    margin-top: 60px;
    font-family: "Playfair Display", serif;
    font-size: 22px;
}

.section_services img {
    max-width: 100%;
    border-radius: 50%;
}

.section_services p {
    max-width: 920px;
    margin: 0 auto;
}

.section_projects {
    margin-top: 100px;
    background-color: #000;
    color: #fff;
}

.section_projects figure {
    display: flex;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
}

.section_projects figure img {
    /* flex-basis: 50%; */
    width: 50%;
    max-width: 100%;
    /* width: 100%; 
    aspect-ratio: 1;*/
}

.section_projects figure figcaption {
    width: 100%;
    font-family: "Playfair Display", serif;
    font-size: 22px;
    /* position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 0; */
}

.section_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    padding: 1px;
    padding-bottom: 100px;
    background-color: #000;
    color: #fff;
}

.section_contact h2 {
    width: 100%;
}

.section_contact p {
    margin-bottom: 20px;
}

.form {
    padding: 40px;
    border: 1px solid #fff;
}

.form .input_text {
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding: 10px;
    margin: 10px;
}

.form .input_text:focus {
    border-bottom: 2px solid #fff;
    outline: none;
}

.input_button {
    display: block;
    width: 250px;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}

.input_button:hover {
    cursor: pointer;
}

.input_button:active {
    background-color: #ccc;
}

footer img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    /* background:#fff url("https://static.wixstatic.com/media/e7b0f0_261fedf55cd94b16a0d749ac7fe5adff~mv2_d_3024_4032_s_4_2.jpeg/v1/fill/w_1583,h_510,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/e7b0f0_261fedf55cd94b16a0d749ac7fe5adff~mv2_d_3024_4032_s_4_2.jpeg") no-repeat fixed; */
}

.social_link {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
    font-size: 24px;
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .about_section {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .about_section img {
        height: 100vw;
        width: 100%;
    }
    .about_section figcaption {
        padding-left: 30px;
        text-align: center;
    }
}

@media (min-width: 800px) {
    .section_projects figure:nth-of-type(odd) {
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width: 980px) {
    h1 {
        font-size: 50px;
    }
    .about_section img {
        /* width: 50%; */
    }
    .about_section figcaption {
    }
}
